.bakery-list-item {
    padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.bakery-list-item:hover {
    background-color: rgba(0, 0, 0, 0.02);
}

.bakery-list-item-main-box {
   
}

.bakery-list-item-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
 
.bakery-list-item-title {
    color: rgba(0, 0, 0, 1);

    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    transition: color 0.2s ease;
    
}

.bakery-list-item-title:hover {
    cursor: pointer;
    color: #007aff;
}

.link-icon-box{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bakery-list-item-link-icon{
    cursor: pointer;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.bakery-list-item-link-icon:hover {
    opacity: 0.7;
}

.bakery-list-item-middle {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.bakery-list-item-roadaddress {
    font-size: 15px;
    font-weight: 450;
    line-height: 140%;

    cursor: pointer;
}

.bakery-list-item-link {
    cursor: pointer;

}

.bakery-list-item-counts {
    color: rgba(0, 0, 0, 0.7);

    font-size: 12px;
    font-weight: 400;
    line-height: 140%;

}

.bakery-list-item-image-box {
    display: flex;
    gap: 8px;
    margin-top: 12px;
}

.bakery-list-item-image {
    
    width: 80px;
    height: 80px;

    background-position: center;
    background-size: cover;
    border-radius: 8px;
}