#bakery-detail-visit-statistic-warapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  
  border-radius: 12px;
  
}

.bakery-detail-visit-statistic-grap {
 
  border-radius: 8px;
  overflow: hidden;
  background-color: #fafafa;
  padding: 8px;
  box-shadow: inset 0 0 0 1px #eee;

  user-select: none;        /* 드래그 선택 방지 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.bakery-detail-visit-statistic-contents {
  margin-top: 8px;
}

.bakery-detail-visit-statistic-summary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(55, 55, 55, 0.1);
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 14px;
  
}

.bakery-detail-visit-statistic-summary > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}

.bakery-detail-visit-statistic-summary span {
  color: #888;
  font-size: 12px;
  margin-bottom: 2px;
}
