#footer {
    padding: 10px 80px;
    background-color: #FBFBFB ;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 20px; */
    font-color: rgba(0, 0, 0, 0.5);
}

.footer-logo-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo-text {
    font-family: 'SangSangRock';
    font-size: 20px;
    font-weight: 100;
    line-height: 140%;
    letter-spacing: -0.4px;
}

.footer-link-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-email-link {
    font-family: 'GimhaeGaya';
    font-size: 10px;
    font-weight: bold;
}

.footer-center-box {
    font-family: 'GimhaeGaya';
    font-size: 10px;
    font-weight: bold;
}

.footer-none {
    width: 20px;
}